<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Preguntas</servlet-name>
        <servlet-class>Api.Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createQuestion</servlet-name>
        <servlet-class>crud.createQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateQuestion</servlet-name>
        <servlet-class>crud.updateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestion</servlet-name>
        <servlet-class>crud.deleteQuestion</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Preguntas</servlet-name>
        <url-pattern>/Preguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createQuestion</servlet-name>
        <url-pattern>/createQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateQuestion</servlet-name>
        <url-pattern>/updateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestion</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
